<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flask002 - url shortener</title>
</head>
<body>
	<h1>Flask002</h1>
	<h2>URL Shortener</h2>
	{% for message in get_flashed_messages() %}
	<h3>{{ message }}</h3>
	{% endfor %}
	<hr/>
	<form action="show-url" method="post">
		<label for="url">Website URL</label>
		<input type="url" name="url" value="http://google.com" required>
		<label for="code" name="code" value="">Short Name</label>
		<input type="text" name="code" value="" required>
		<input type="submit" value="Shorten URL">
	</form>
	<form action="show-url" method="post" enctype="multipart/form-data">
		<label for="file">File</label>
		<input type="file" name="file" value="" required>
		<label for="code" name="code" value="">Short Name</label>
		<input type="text" name="code" value="" required>
		<input type="submit" value="Shorten URL">
	</form>
</body>
</html>
